<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <h1>Follow these Instructions: </h1>
    <ul>
        <li>Type admin/ in the above url to access the admin page</li>
        <li>For the admin panel, Username: Antariksh, Password: todecipherunimaginable</li>
        <li>Crud Operations are also created, but you can also access the admin panel and make changes there itself</li>
        <li>Type EventList/ in the above url to see the entire list of API</li>
        <li>Type EventDetail/(id no)/ in the above url to access a specefic Event</li>
        <li>Type EventUpdate/(id no)/ in the above url and make necessary changes</li>
        <li>Type EventDelete/(id no)/ in the above url and click on the delete button to delete and Event</li>
      </ul>
</body>
</html>